[submodule "metrics-app-kt-plugin"]
	path = metrics-app-kt-plugin
	url = https://github.com/stack-spot/metrics-app-kt-plugin
[submodule "relational-database-app-kt-plugin"]
	path = relational-database-app-kt-plugin
	url = https://github.com/stack-spot/relational-database-app-kt-plugin
[submodule "kvstore-consul-app-kt-plugin"]
	path = kvstore-consul-app-kt-plugin
	url = https://github.com/stack-spot/kvstore-consul-app-kt-plugin
[submodule "tracing-app-kt-plugin"]
	path = tracing-app-kt-plugin
	url = https://github.com/stack-spot/tracing-app-kt-plugin
[submodule "sqs-consumer-app-kt-plugin"]
	path = sqs-consumer-app-kt-plugin
	url = https://github.com/stack-spot/sqs-consumer-app-kt-plugin
[submodule "sqs-producer-app-kt-plugin"]
	path = sqs-producer-app-kt-plugin
	url = https://github.com/stack-spot/sqs-producer-app-kt-plugin
[submodule "bff-sdui-app-kt-plugin"]
	path = bff-sdui-app-kt-plugin
	url = https://github.com/stack-spot/bff-sdui-app-kt-plugin
[submodule "spring-app-kt-template"]
	path = spring-app-kt-template
	url = https://github.com/stack-spot/spring-app-kt-template
[submodule "grpc-client-app-kt-plugin"]
	path = grpc-client-app-kt-plugin
	url = https://github.com/stack-spot/grpc-client-app-kt-plugin
[submodule "grpc-server-app-kt-plugin"]
	path = grpc-server-app-kt-plugin
	url = https://github.com/stack-spot/grpc-server-app-kt-plugin
[submodule "openapi-gradle-app-plugin"]
	path = openapi-gradle-app-plugin
	url = https://github.com/stack-spot/uxservices-kotlin-openapi-gradle-app-plugin
[submodule "uxservices-kotlin-openapi-gradle-app-plugin"]
	path = uxservices-kotlin-openapi-gradle-app-plugin
	url = https://github.com/stack-spot/uxservices-kotlin-openapi-gradle-app-plugin
